<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="This Web Side for making Short URL" />
    <meta name="author" content="jsw" />
    <title>Welcome Short Url</title>
    
    <!-- favicon -->
    <link rel="icon" href="/image/favicon.ico">
    
    <!-- BootStrap CSS File -->
    <link href="/css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap/bootstrap-icons.css" rel="stylesheet">
    
    <!-- Main CSS File -->
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
  <main id="main">
    <div class="d-flex">
    <!-- Sidebar-->
    <div class="px-4 py-4" id="sidebar-wrapper">
      <form role="form" >
        <h3 sec:authorize="isAnonymous()">Please Sign In</h3>
        <div sec:authorize="isAuthenticated()">
          <h3>Welcome!!!</h3>
          <span sec:authentication="name"></span>
        </div>
        <hr>
        <!-- Url of Member List-->
        <table id="urlMemberList" sec:authorize="isAuthenticated()" class="table table-sm table-hover">
          <thead class="thead-light">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Url</th>
              <th scope="col">encodeId</th>
              <th scope="col">createDate</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
        <!-- login form -->
        <div sec:authorize="isAnonymous()">
          <div class="form-group mb-2">
            <input class="form-control" type="email" name="email" placeholder="Email Address">
          </div>
          <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password">
          </div>
        </div>
        <hr>
        <div>
          <button sec:authorize="isAnonymous()" class="btn btn-outline-success float-start" id="loginBtn">Login</button>
          <button sec:authorize="isAuthenticated()" class="btn btn-outline-danger float-end" id="logoutBtn">Logout</button>
          <button sec:authorize="isAnonymous()" class="btn btn btn-outline-primary float-end" id="registerBtn">Register</button>
        </div>
      </form>
      <!-- ======= Alert ======= -->
      <div id="loginAlertDiv">
      </div>
    </div>
    <div id="page-content-wrapper">
    <!-- Top navigation-->
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid ml-2">
          <button class="btn btn-primary" id="sidebarToggle">Toggle Menu</button>
      </div>
    </nav>

    <div class="container-fluid d-flex flex-column align-items-center my-5">
      <h1>Short URL</h1>
      <h2>We make The Site URL you want for User Accessibility</h2>
      <div class="url">
        <h3>Enter The Site you want</h3>
        <div class="row g-2" role="form" >
          <div class="col-auto">
            <input class="form-control form-control-lg" type="url" name="url" value="http://" required>
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-default btn-lg customBtn"><i class="bi bi-scissors"></i></button>
          </div>
        </div>
      </div>
    
      <!-- ======= Alert ======= -->
      <div id="alertDiv">
        <ul class="list-group"></ul>
      </div>
      <!-- End Alert -->
    </div>
    

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container mt-2">

        <div class="section-title">
          <h2>About Us</h2>
          <p>Illo velit quae dolorem voluptate pireda notila set. Corrupti voluptatum tempora iste ratione deleniti corrupti nostrum ut</p>
        </div>

        <div class="row mt-2">
          <div class="col-lg-4 col-md-6 icon-box">
            <div class="icon"><i class="bi bi-briefcase"></i></div>
            <h4 class="title"><a href="">Lorem Ipsum</a></h4>
            <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box">
            <div class="icon"><i class="bi bi-bar-chart"></i></div>
            <h4 class="title"><a href="">Dolor Sitema</a></h4>
            <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box">
            <div class="icon"><i class="bi bi-brightness-high"></i></div>
            <h4 class="title"><a href="">Sed ut perspiciatis</a></h4>
            <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->
  </div>
  </div>
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>jsw</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/maundy-free-coming-soon-bootstrap-theme/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End #footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  
  <canvas class="background"></canvas>

  <!-- JQuery JS -->
  <script src="/js/jquery/jquery-3.6.0.min.js"></script>
  <!-- https://github.com/phstc/jquery-dateFormat -->
  <script src="/js/jquery/jquery-dateFormat.min.js"></script>
  <!-- Bootstrap JS -->
  <script src="/js/bootstrap/bootstrap.bundle.min.js"></script>
  <!-- Particle JS -->
  <script src="/js/particles/particles.min.js"></script>
  <!-- Custom JS -->
  <script src="/js/main.js"></script>

</body>
</html>